h1 {
  position: relative;
  top: 50px;
}
p {
  position: relative;
  top: 25px;
}
.header {
  font-family: Times New Roman;
  font-size: 30px;
  text-align: center;
  background-color: mediumseagreen;
  color: whitesmoke;
  height: 75vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.project-header {
 display: flex;
 text-align: center;
 font-size: 30px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
.nav {
display: flex;
font-family: fantasy;
color: purple;
justify-content: flex-end;
position: fixed;
top: 0;
left: 0;
width: 100%;
box-shadow: 0 4px 0 rgba(0, 0, 0, 0.9);
z-index: 10;
background-color: purple;
padding: 1rem;
}
.nav-list {
  display: flex;
  margin-right: 5rem;
}
@media (max-width: 35.0em) {
.nav {
  justify-content: center;
  }
}
@media (max-width: 35.0em) {
.header {
  justify-content: center;
 }
}
.nav-list {
  margin: 0 4rem;
}
.nav-list a {
color: black;
font-size: 1.5rem;
padding: 1rem;
text-decoration: none;
}
.nav-list a:hover {
background: purple;
color: white;
 }
 