body{
  margin: 0px;
}

h1 {
  position: relative;
  top: 50px;
}
p {
  position: relative;
  top: 25px;
}
.header {
  font-family: Times New Roman;
  font-size: 30px;
  text-align: center;
  background-color: mediumseagreen;
  color: whitesmoke;
  height: 75vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

h2 {
 display: flex;
 justify-content: center;
 font-size: 30px;
}
.project{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(0, 500px));
  grid-template-areas:  'title title title title'
                        'project1 project2 project3 project4';
  background-color:slategray;
  gap: 10px;
}

.project > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.project-title{grid-area: title;}
.project1{grid-area: project1;}
.project2{grid-area: project2;}
.project3{grid-area: project3;}
.project4{grid-area: project4;}

/* .gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
} */
.gallery:hover {
  border: 1px solid #777;
}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
}
.nav {
display: flex;
font-family: fantasy;
color: purple;
justify-content: flex-end;
position: fixed;
top: 0;
left: 0;
width: 100%;
box-shadow: 0 4px 0 rgba(0, 0, 0, 0.9);
z-index: 10;
background-color: purple;
padding: 1rem;
}
.nav-list {
  display: flex;
  margin-right: 5rem;
}
@media (max-width: 35.0em) {
.nav {
  justify-content: center;
  }
}
@media (max-width: 35.0em) {
.header {
  justify-content: center;
 }
}
.nav-list {
  margin: 0 4rem;
}
.nav-list a {
color: black;
font-size: 1.5rem;
padding: 1rem;
text-decoration: none;
}
.nav-list a:hover {
background: purple;
color: white;
 }
 