html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
}

/*welcome-section*/

h1 {
  position: relative;
  top: 50px;
}
p {
  position: relative;
  top: 50px;
}
.header {
  font-family: Times New Roman;
  font-size: 50px;
  text-align: center;
  background-image: linear-gradient(#9F2B68, black);
  color: whitesmoke;
  height: 95vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: 30px;
}
h2 {
 display: flex;
 justify-content: center;
 font-size: 30px;
 font-family: Georgia;
 color:white;
}

/*project-section*/

.project {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(0, 500px));
  grid-template-areas:  'title title title title'
                        'project1 project2 project3 project4';
  background-image: linear-gradient(black, #00CC99);
  gap: 10px;
  height: 90vh;
  padding-top: 50px;
  padding-bottom: 35px;
}
.project > div {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px 0;
  font-size: 35px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
}
.project-title{grid-area: title;}
.project1{grid-area: project1;}
.project2{grid-area: project2;}
.project3{grid-area: project3;}
.project4{grid-area: project4;}

.project1:hover {
  border: 5px solid	#BCD4E6;
}
.project2:hover {
  border: 5px solid #BCD4E6;
}
.project3:hover {
  border: 5px solid	#BCD4E6;
}
.project4:hover {
  border: 5px solid	#BCD4E6;
}
.project img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
}

/*nav-bar*/

.nav {
display: flex;
font-family: fantasy;
color: #9F2B68;
justify-content: flex-end;
position: fixed;
top: 0;
left: 0;
width: 100%;
box-shadow: 0 4px 0 rgba(0, 0, 0, 0.9);
z-index: 10;
background-color: #9F2B68;
padding: 1rem;
}
.nav-list {
  display: flex;
  margin-right: 5rem;
}
@media (max-width: 35.0em) {
.nav {
  justify-content: center;
  }
}
@media (max-width: 35.0em) {
.header {
  justify-content: center;
 }
}
.nav-list {
  margin: 0 4rem;
}
.nav-list a {
color: black;
font-size: 1.5rem;
padding: 1rem;
text-decoration: none;
}
.nav-list a:hover {
background: #9F2B68;
color: white;
}

/*about-me-section*/

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(#00CC99, #800020)
}
.about-me-section-header > h2 {
  font-size: 35px;
}
@media (max-width: 28.75em) {
  .about-me-section-header > h2 {
    font-size: 20rem;
  }
}
.about-me-section-header > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 30px;
  height: 70px;
}
.media-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.about-me-details {
  font-size: 2.5rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  text-decoration: none;
  color: whitesmoke;
  text-indent: 50px;
  padding-inline-end: 45px;
}
.about-me-details:hover {
  transform: translateY(8px);
}
 